{% extends 'base.html.twig' %}
{% block title %}Create attribute{% endblock %}
{% block body %}
    <table>
        <tr>
            <td>ID</td>
            <td>Category</td>
            <td>Name</td>
            <td></td>
            <td></td>
        </tr>
        {% for row in attrs %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.category }}</td>
                <td>{{ row.name }}</td>
                <td><a href="{{ path('attribute_edit', {'id': row.id}) }}">Edit</a></td>
                <td><a href="{{ path('attribute_remove', {'id': row.id}) }}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
    <h1>Create attribute</h1>
    {{ form_start(form) }}
    {{ form_end(form) }}
    {{ response }}
{% endblock %}