{% extends 'base.html.twig' %}
{% block title %}Attribute list{% endblock %}
{% block body %}
    <h1>Attribute list</h1>
    <table>
        <tr>
            <td>ID</td>
            <td>Category</td>
            <td>Name</td>
            <td></td>
            <td></td>
        </tr>
        {% for row in attributes %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.category }}</td>
                <td>{{ row.name }}</td>
                <td><a href="{{ path('attribute_edit', {'id': row.id}) }}">Edit</a></td>
                <td><a href="{{ path('attribute_remove', {'id': row.id}) }}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ path('attribute_create') }}">Create attribute</a>
{% endblock %}