{% extends 'base.html.twig' %}
{% block title %}Create user{% endblock %}
{% block body %}
    <header>
        <h1>ADWALL - just add your ad!</h1>
    </header>
    <main>
        <h1>Register user</h1>
        {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}

        <button type="submit">Register!</button>
        {{ form_end(form) }}
    </main>
    <footer>Adwall</footer>
{% endblock %}