{% extends 'base.html.twig' %}
{% block title %}Item list{% endblock %}
{% block body %}
    <h1>Item list</h1>
    <table>
        <tr>
            <td>ID</td>
            <td>Category</td>
            <td>Title</td>
            <td>Description</td>
            <td>Price</td>
            <td>Is Active</td>
            <td>Created</td>
            <td></td>
            <td></td>
        </tr>
        {% for row in items %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.category }}</td>
                <td>{{ row.title }}</td>
                <td>{{ row.description }}</td>
                <td>{{ row.price }}</td>
                <td>{{ row.date|date('d-m-Y H:i:s') }}</td>
                <td><a href="{{ path('item_edit', {'id': row.id}) }}">Edit</a></td>
                <td><a href="{{ path('item_remove', {'id': row.id}) }}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ path('item_create') }}">Create item</a>
{% endblock %}